doctype html
html
    head
    
        style.
         .box{
               border:2px #ffe600 solid;
               font-family: Helvetica, Arial, Sans-Serif;
               font-size:20px;
           }
           .row{
               margin-top:10px;
           }
    body

        div
            img.className#IdName(src='./2.png' alt="EY")

        .box

            .row
                strong Category: #{category}
            .row
                strong Project: #{project}
            .row
                p
                    strong Description: #{description} 
            .row
                strong Nominee: #{nominee}
            .row
                p Nominated By: #{nominatedBy}

            
